{% load static %}

      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="pb-0 pb-lg-4 hidden">

          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-7 col-12 mb-4 mb-md-6 mb-lg-0 order-0">
                <a href="{% url 'index' %}"><img class="mb-4" src="{% static 'assets/img/Logo.gif'%}" width="150" alt="aem" /></a> 
                <p class="fs--1 text-secondary mb-0 fw-medium">AEM-BF, Pour qu'être étudiant en médécine ne soit pas un mot mais un engagement social</p>
              </div>
              <div class="col-lg-3 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Nos commités</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'scope' %}">Echanges profesionnels (SCOPE)</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'scome' %}">Formations médicales (SCOME)</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'scorp' %}">Droits de l'Homme et de la paix (SCORP)</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'scoph' %}">Santé publique (SCOPH)</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'score' %}">Echanges de recherche (SCORE)</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'scora' %}">Santé Sexuelle et Reproductive (SCORA)</a></li>

                </ul>
              </div>
              <div class="col-lg-3 col-md-4 mb-4 mb-lg-0 order-lg-2 order-md-3">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Notre équipe</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'BN' %} ">Bureau National</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'UJKZ' %}">LMO UJKZ</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'USTA' %}">LMO USTA</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'INSSA' %}">LMO INSSA</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'UOHG' %}">LMO UOHG</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'USDAO' %}">LMO USDAO</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-4 mb-4 mb-lg-0 order-lg-3 order-md-4">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Nos outils</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'recherche' %}">Protocols de recherche</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="{% url 'media' %}">Mediathèque</a></li>
                </ul>
                <br>
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Contact</h4>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" >Ouagadougou, Burkina Faso</a></li>
                  <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">aem-burkinafaso@ifmsa.org</a></li>
                </ul>
                <div class="icon-group mb-4"> 
                  <a class="text-decoration-none icon-item shadow-social" id="facebook" href="https://www.facebook.com/share/4oRaeD2VKEdvawGw/?mibextid=qi2Omg"><i class="fab fa-facebook-f"> </i></a>
                  <a class="text-decoration-none icon-item shadow-social" id="facebook" href="https://www.linkedin.com/company/association-des-etudiants-en-m%C3%A9decine-du-burkina-faso/"><i class="fab fa-linkedin"> </i></a>
                  <a class="text-decoration-none icon-item shadow-social" id="facebook" href="https://x.com/desmedecine/status/1781406592136589686?s=46"><i class="fab fa-twitter"> </i></a>
                  <a class="text-decoration-none icon-item shadow-social" id="facebook" href="https://www.instagram.com/aemburkina?igsh=Z3Fia2Z2MnM2NG93&utm_source=qr"><i class="fab fa-instagram"> </i></a>
                </div>
              </div>
             
            </div>
          </div><!-- end of .container-->
          <div class="pt-5 pb-0 text-center">
            <p class="mb-0 text-secondary link-900 fs--1 fw-medium">&copy; <script>document.write(new Date().getFullYear()) </script>  All rights NeereLab Technology, Code by Ariel Shadrac </p>
          </div>
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
  
   
  
  
  
   

