{% extends 'base/navbar.html' %}
{% load static %}
{% block content %}

      <main class="container py-3">
        <div class="container my-5">
          <div class="row pb-0 pe-lg-0 pt-lg-5 align-items-center border shadow">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
              <h1 class="hero-title">Nos Actualités</h1>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
            </div>
          </div>
        </div>

        <section class="pt-5" id="actu">

          <div class="container">
           
            <div class="row">
              {% if news %}
              {% for news in news%}
              <div class="col-md-4 mb-4">
                <a href="{% url 'new_detail' news.pk %}">
                  <div class="card overflow-hidden"> 
                    <img class="rounded-2" src="{{ news.image.url }}" style="object-fit: cover !important;" height="500" alt=""/>
                    <div class="py-4">
                      <div class="d-flex align-items-center"> <span class="fs-0 fw-medium text-start">{{ news.title}} </span></div>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
              {% else %}
              <div class="col">
                <h2 class="d-flex align-items-center" style="font-weight: 80 !important;"> <span style="color: red !important; font-size: 40px;">&times;</span> Pas d'actualités pour le moment, Revenez plus tard !</h2>
              </div>
              {% endif %}
              

            </div>
          </div><!-- end of .container-->
  
        </section>
      </main>
      {% include 'base/footer.html' %}
{% endblock %}