{% extends 'base/navbar.html' %}
{% load static %}
{% block content %}



      <main class="container py-6">
        <div class="container my-5">
          <div class="row pb-0 pe-lg-0 align-items-center border shadow-sm">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
              <h1 class="display-1 fw-bold lh-1 text-body-emphasis" style="color: #0E6EA5;">Standing Committee on Professional
                Exchange</h1>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-sm">
              <a href="{% static 'assets/img/scope.png' %}" data-lightbox="models">
                <img class="rounded-lg-3" src="{% static 'assets/img/scope.png' %} " alt="" width="100%" height="400" style="object-fit: cover !important;">
              </a>
              </div>
          </div>
        </div>

        <section class="pt-5" id="actu">
          
          <div class="container mb-8">
            <p>Le programme d'échanges professionnels est un programme éducatif complet qui propose des stages aux étudiants en médecine à l'étranger. Dès le début, en 1951, il était évident que l'échange d'étudiants en médecine serait l'un des principaux domaines d'action de l'IFMSA. Dès 1952, un total de 463 étudiants ont effectué une période de pratique à l'étranger et, aujourd'hui, il continue d'être l'épine dorsale de la Fédération et constitue son projet le plus ancien. Chaque année, environ 13 000 étudiants de plus de 90 pays voyagent à travers le monde pour découvrir de nouveaux systèmes de santé, de nouvelles cultures et pour améliorer leur santé globale et leur compréhension interculturelle.</p>
            <br> <h1>Historique du
              Comité</h1> <br>
            <p>
              Le Comité permanent des échanges professionnels (SCOPE) a été fondé en 1951 et est l'un des premiers comités permanents de l'IFMSA. Il a commencé modestement, avec seulement 8 pays européens, mais est depuis devenu l'un des plus grands programmes d'échanges gérés par des étudiants au monde, avec environ 13 000 étudiants en médecine participant chaque année de plus de 100 organisations nationales membres.

 Le programme d’échange SCOPE est une expérience éducative et culturelle de qualité organisée entièrement par des étudiants en médecine avec l’aide de leurs facultés de médecine.</p>
            
            <br><h1>Mission</h1> <br>
            <p>L'objectif de SCOPE est de promouvoir la compréhension culturelle et la coopération entre les étudiants en médecine et tous les professionnels de la santé, en facilitant les échanges internationaux d'étudiants. SCOPE vise à donner à tous les étudiants l'opportunité d'en apprendre davantage sur la santé mondiale, et y parvient en partie en faisant accréditer ses échanges par les facultés de médecine du monde entier.</p>
            <br><h1>Objectifs</h1><br>
              <p>
                <ol>
                  <li>Accroître la mobilité et élargir l’horizon des étudiants en médecine du monde entier ;</li>
                  <li>Offrir des chances égales aux étudiants en médecine de participer à un échange professionnel, indépendamment de leurs origines subjectives, géographiques, politiques, financières, sexuelles, culturelles ou religieuses ;</li>
                  <li>Offrir aux étudiants en médecine la possibilité de faire l’expérience des soins de santé dans une autre culture avec des systèmes de santé et d’éducation différents, et d’apprendre comment les différences de culture et de croyances ont une influence ;</li>
                  <li>Créer des possibilités pour les étudiants en médecine d’en apprendre davantage sur les problèmes de santé mondiaux, les préoccupations de santé primaires et l’épidémiologie de base du pays d’accueil, et sur la manière dont il diffère de leur pays d’origine ;</li>
                  <li>Contribuer à la formation de futurs professionnels de la santé avec une vision globale et contribuer au développement personnel, à l'autonomie et à l'ouverture des étudiants en médecine pour devenir de futurs professionnels de la santé ;</li>
                  <li>Offrir aux étudiants la possibilité d’améliorer leurs connaissances médicales, leur vision des questions médicales et leurs connaissances pratiques en fonction de la réglementation du pays d’accueil ;</li>
                  <li>Faciliter la connexion entre les étudiants en médecine et les autres professionnels de la santé et fournir une plate-forme pour la coopération future entre les étudiants en médecine entre eux et avec les professionnels de la santé du monde entier ;</li>
                  <li>Maintenir des frais de scolarité abordables pour les échanges professionnels par l'intermédiaire de son organisme directeur afin de garantir que les étudiants en médecine des organisations nationales membres puissent participer aux échanges avec une charge financière minimale ;</li>
                  <li>S'assurer que les étudiants sont conscients des aspects éthiques concernant leur échange afin de garantir que la charge sur la société, les patients, les ressources et le système de santé soit aussi limitée que possible ;</li>
                  <li>Promouvoir la tolérance envers les différences et les similitudes en matière de santé et envers les patients, quels que soient leur sexe, leur religion ou leurs croyances.</li>  
                </ol>
              </p>

            <br><h1>Le programme d'echange du SCORE</h1><br>
            <p>Tous les étudiants en médecine ont le droit de participer à un stage de quatre semaines dans un domaine clinique ou préclinique de la médecine choisi. La langue d'enseignement est soit l'anglais, soit la langue du pays d'accueil. Pour terminer le stage, l'étudiant d'échange doit démontrer une connaissance suffisante de la langue anglaise ou de la langue maternelle du pays d'accueil. Les stages sont purement éducatifs et les étudiants ne recevront pas de salaire. Pendant l'échange, l'étudiant a la possibilité d'observer un système de santé différent et d'apprendre auprès de tuteurs étrangers. Tous les étudiants sont assignés à un médecin superviseur, qui agit en tant que tuteur et mentor.
              <br>

              Les contrats d'échange sont signés entre deux organisations nationales membres participantes et sont de deux types : <br>
              <ul>
                <li> <span style="font-style: italic;">Contrats bilatéraux </span>: où les pays participants échangent entre eux deux étudiants (un de chaque pays).</li>
                <li> <span style="font-style: italic;">Contrats unilatéraux </span>: lorsqu'un seul étudiant participe à l'échange.
                </li>
              </ul>
              
             
              
            
              En échange d'un droit de participation, l'étudiant entrant se voit offrir un stage d'un mois dans l'hôpital et le service de son choix, un logement dans une structure étudiante ou dans une famille d'accueil et  au moins un repas par jour.</p>
            <h6><a href="https://ifmsa.org/standing-committees/professional-exchanges/">en savoir plus</a></h6>
          </div>
 
    

          <div class="container">
           
            <div class="gallery">
              <h2>Gallerie d'images</h2>
              <p>Cliquer sur l'image de votre choix afin de l'afficher</p>
              <div class="gallery_album">
                  {%for scope in scope%}
                  <a href="{{ scope.image.url }}" data-lightbox="models", data-title="{{ scope.decription }}", class="photo">
                          <img src="{{ scope.image.url }}" alt="">
                  </a>
                  {% endfor %}
              </div>
          </div>
          </div><!-- end of .container-->
  
        </section>
      </main>

      {% include 'base/footer.html' %}
{% endblock %}


Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fugit beatae libero, corrupti molestias ducimus pariatur fuga officiis facere id quidem necessitatibus deserunt quaerat molestiae quis maxime, quos, magnam illum?